<h2>Choose a car to get back</h2>

  <div>
  	<select [(ngModel)]="CartoGetBack" required>
   		<option *ngFor="let car of cars" [ngValue]="car">{{car.model}}</option> 
   	</select>
  </div>
    
	<div *ngIf="CartoGetBack">
  		<h4>Plate number of the selected car: {{CartoGetBack.plateNumber | uppercase}}</h4>
  		<button type="button" class="btn btn-default" (click)=getBack(CartoGetBack)>Get back</button>
  		<button (click)="goBack()">Return to the main menu</button>
  		<h4>state of the rented attribut: {{CartoGetBack | json}}</h4>
	</div>